.form {
  margin-bottom: 20px;
}
.form input {
  width: calc(100% - 135px);
  height: 45px;
  outline: none;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 0 15px;
  font-size: clamp(14px, 3vw, 16px);
}

.form button {
  width: clamp(95px, 15vw, 100px);
  height: 45px;
  outline: none;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  background: #1771e6;
  color: #fff;
  font-size: clamp(14px, 3vw, 16px);
}
